:root {
  font-size: 18px;
}

main {
  width: 1500px;
  margin: auto;
  margin-top: 50px;
}

button {
  padding: 0;
}

.stuff {
  margin-left: 20px;
  padding-left: 5px;
  border-left: 1px solid black;
  :hover {
    .add-button {
      display: unset;
    }
  }
}

.add-button {
  display: none;
  padding-right: 4px;
  padding-left: 4px;
}
